:root {
    --banner-height: 64px;
    color: black;
    background-color: rgba(38, 38, 38, 1);
  }

  
  .dashboard-container {
    height: 100vh;
  }
  .banner{
    background-color: rgb(253, 154, 231);
    height: 8vh;
    display: flex;
    justify-content: space-between;
  }
  .content {
    display: flex;
    flex-direction: column; 
    position: relative;
  }
  
  .movieInput::placeholder{
    color: rgba(100,100,100,0.8);
  }

  .movieInput{
    background-color: rgb(253, 154, 231);
    border-radius: 10px;
    
  }

  .button{
    background-color: rgb(253, 154, 231);
    border-radius: 10px;
  }


  .flex-container {
    padding-top: 10px;
    display: flex;
    height:85vh;
    position: relative;
  }
  
  .search-container {
    width: 15vw;
    margin-right: 10px; 
    border: 1px solid black;
    background-color: rgba(100,100,100);
    border-radius: 10px;
    padding: 10px;
    display: flex; 
    flex-direction: column; 
    justify-content:space-evenly;
    align-items: center; 
    position: relative;
}
  
  .table-container{
    width: 85vw;
    overflow: auto;
  }

  .searchBar {
    padding: 10px;
    justify-content: center;
    align-items: center;
    position: sticky;
    background-color: rgba(100,100,100);
    border-radius: 10px;
  }

  .fa-search{
    color:rgb(253, 154, 231);
  }

  .display {
    flex: 85vw; 
    padding: 10px;
    display: flex;
    justify-content: space-around;
    
}

.card {
    height: 280px;
    width: 180px;
    margin: 10px; /* Add some margin to separate the cards */
    border-radius: 10px;
}

.cardTitle {
  overflow: hidden;
  height:20px;
  text-align: center;
  color: white;
  border-radius: 10px;
}

.cardImg {
    height: 100%; /* Ensure the image fills the card container */
    width: 100%;
    object-fit: cover; /* Maintain aspect ratio without stretching */
    border-radius: 10px;
}

.grid-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    gap: 10px; /* Gap between columns */
}
  .movieInput {
    height: 30px;
    width: 600px;
  }

  .link {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: white;
    text-decoration: underline;
    cursor: pointer;
    font-size: 20px;
  }

  .link:hover{
    color: rgb(253, 154, 231);
  }

  .genreLink {
    border: none;
    background-color: rgb(255, 217, 235);
    width: 15vw;
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
  }

  .top{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  
  .bottom{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .notFound{
    color: white;
    font-size: 30px;
    height: 60vh;
    width: 60vw;
    padding: 10px;
  }

  .infoDisplay {
    width: 85vw;
    margin-right: 10px; 
    padding: 10px;
    justify-content: flex;
    position: relative;
    background-color: rgba(100,100,100);
    border-radius: 10px;
  }

  .cover {
    width: 240px; /* Set width of the container */
    height: 360px; /* Set height of the container */
     /* Optional: Border for visualization */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Hide overflow content */
    border-radius: 10px;
  }
  
  .coverImage {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Adjusts the image to cover the entire container */
  }

  .explore{
    font-size: 40px;
    font-family: "Copperplate" , fantasy;
    font-stretch: ultra-expanded;
    color: rgb(253, 154, 231);
  }

  .info{
    width:60vw;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(38, 38, 38, 1);
    color: white;
  }

  .info label {
    padding-left: 10px;
  }

  .info span {
    padding-left: 5px;
  }

  .info div {
    padding-left: 10px;
  }
  .ratingDisplay{
    border: 1px solid black;
    height: 25vh;
    overflow: auto;
    padding: 4px;
    position: relative;
    border-radius: 10px;
    background-color: rgba(38, 38, 38, 1);
    color: white;
  }

  .rating{
    padding: 10px;
    background-color: rgba(100,100,100,1);
    border-radius: 10px;
  }

  .spacer{
    height: 10px;
  }

  .addRating {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .information{
    padding: 10px;
    padding-left: 50px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
  }

  .movieInfo{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .infoTitle{
    font-size: 45px;
  }


  .infoDisplay2 {
    width: 85vw;
    margin-right: 10px; 
    padding: 10px;
    display: flex;
    justify-content: left;
    position: relative;
    border: 1px solid black;
    background-color: rgba(100,100,100);
    overflow: auto;
    border-radius: 10px;
  }
  .information2{
    justify-content: left;
    display: flex;
    overflow: auto;
  }
  .addForm {
    max-width: 300px;
    margin: 0 auto;
    text-align: left; /* Aligns text and form elements to the left */
}

.addForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left; /* Ensures labels are aligned left */
}

.addForm input[type="text"],
.addForm select,
.addForm textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.addForm input[type="file"],
.addForm input[type="submit"] {
    margin-top: 10px;
    /* Additional styles for file input and submit button if needed */
}

/* Optional: Style submit button */
.addForm input[type="submit"] {
    background-color: rgba(209, 134, 146, 1);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

.addForm input[type="submit"]:hover {
    background-color: #45a049;
}

.fa-star{
  color: orange;
}

.fa-star-half{
  color: orange;
}

/* Dropdown Button */
.dropbtn {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  font-size: 20px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position:relative;
  display:inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-profile {
  display: none;
  position: absolute;
  background-color: rgb(255, 217, 235);
  width: 160px; /* Optional: Set a fixed width if needed */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: -160px; /* Adjust the value based on the width of the dropdown */
  top: 0px;
}

.dropdown-content-genre {
  display: none;
  position: absolute;
  background-color: rgb(255, 217, 235);
  border-radius: 10px;
  width: 15vw; /* Optional: Set a fixed width if needed */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: -80px; /* Adjust the value based on the width of the dropdown */
  top: -60vh;
}

/* Links inside the dropdown */
.dropdown-content-profile a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-genre .genreLink {
  color: black;
  font-size: 10px;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content-profile a:hover{background-color: rgb(255, 160, 212);}



.genreLink:hover {background-color: rgb(255, 160, 212);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content-profile {
  display: block;
}

.dropdown:hover .dropdown-content-genre {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgb(253, 154, 231);}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.editFile{
  padding:5px;
}

.reviewElement{
  font-size: 18px;
}
